
body {
    font-family: "Montserrat-boold";
    /* font-weight: 900; */
}

#title {
    /* color: #111010; */
}
.contaner-fluid {
    background-color: #5a76d1;
    padding: 3% 15%;
}

.center {
    text-align: center;
}

h1 {
    font-family: "Montserrat-black";
    font-weight: 900;
    font-size: 45px;
    color: #111010
}

img {
    width: 40%;
    margin: 10px 0 10px 0;
}

time {
    /* font-size: 25%; */
    color: #444343;
}

#facts {
    font-size: 33px;
    color: #111010
}

li {
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: 25px;
    color: #111010
}

.stuff {
    padding-inline-start: 40px;
    font-size: 25px;
    color: #111010
}

#n-U {
    color: #474545;
}

a {
    color: #2b459a;
}

a:hover {
    color: #d15ab1;
}

#footer {
    background: #2b459a;
    text-align: center;
}